<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/download.css">
</head>
<body>
    <section >
        <div>
            <img src="/src/cloud_white.svg" class="down_arrow" alt="" draggable="false">            
            <h2>File is available for download</h2>
            <span class="size">link will expire in 24 hour</span>
            <h3>{{file}}</h3>
            <span class="size">{{size}} KB</span>
            <a class="download_btn" href={{downloadlink}}><i class="fas fa-arrow-down"></i>&nbsp;Download File</a>
        </div>
    </section>

</body>
</html>